@using Microsoft.AspNetCore.Identity
@using IdentityServer.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
	<ul class="nav navbar-nav navbar-right">
		<li>
			<a asp-area="" asp-controller="Manage" asp-action="Index" title="Manage">Hello @UserManager.GetUserName(User)!</a>
		</li>
		<li>
			<form asp-area="" asp-controller="Logout" asp-action="Index" method="post" id="logoutForm" class="navbar-right">
				<button type="submit" class="btn btn-link navbar-btn navbar-link">Log out</button>
			</form>
		</li>
	</ul>
}
else
{
	<ul class="nav navbar-nav navbar-right">
		<li><a asp-area="" asp-controller="Register" asp-action="Index">Register</a></li>
		<li><a asp-area="" asp-controller="Login" asp-action="Index">Log in</a></li>
	</ul>
}
