@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-3">
        <h2><i class="fa fa-bar-chart" aria-hidden="true"></i> Purpose</h2>
        <p >
            Access all things made by Emmanuel Quagraine using one Account
        </p>
    </div>
</div>
